[Desktop Entry]
Version=1.0
Name=BlueTUI
Comment=BlueTUI
Exec=$TERMINAL --class=TUI.float -e bluetui
Terminal=false
Type=Application
Icon=bluetooth
# Icon=/home/houss/.local/share/applications/icons/BlueTUI.png
StartupNotify=true
