[Desktop Entry]
Version=1.0
Name=BlueTUI
Comment=BlueTUI
Exec=omarchy-launch-bluetooth
Terminal=false
Type=Application
Icon=bluetooth
# Icon=/home/houss/.local/share/applications/icons/BlueTUI.png
StartupNotify=true
