[Desktop Entry]
Version=1.0
Name=Deepseek
Comment=Deepseek
Exec=omarchy-launch-webapp https://chat.deepseek.com/
Terminal=false
Type=Application
Icon=/home/houss/.local/share/applications/icons/Deepseek.png
StartupNotify=true
