[Desktop Entry]
Version=1.0
Name=Google Drive (Academic)
Comment=Google Drive (Academic)
Exec=omarchy-launch-webapp https://drive.google.com/drive/u/2/
Terminal=false
Type=Application
Icon=/home/houss/.local/share/applications/icons/Google Drive.png
StartupNotify=true
